@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Poppins";
  font-size: 0.75rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  background-color: #212529;
  color: #f8f9fa;
  border-radius: 3px;
  padding: 0.4375rem 1.25rem;
  min-width: 11.125rem;
  display: inline-block;
  text-align: center;
  font-size: 0.75rem;
  line-height: 2.08;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.button._fw {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  padding: 0px 20px;
}

.input._form-focus {
  border-bottom: 1px solid #eee;
  background-color: transparent;
  border: 0px solid;
  height: 20px;
  width: 160px;
  color: #CCC;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

[data-fullscreen] {
  min-height: 100vh;
}

.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}

[data-ripple] {
  position: relative;
  overflow: hidden;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-animation: button-circle 1.5s ease forwards;
          animation: button-circle 1.5s ease forwards;
}

@-webkit-keyframes button-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 0;
  }
}

@keyframes button-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 0;
  }
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
}

.text__date {
  font-weight: 300;
  line-height: 167%;
  color: #e5e5e5;
}

.text__title {
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 160%;
  color: #f8f9fa;
}

.text__info {
  font-weight: 300;
  line-height: 167%;
  color: #e5e5e5;
}

.item-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-cards__img {
  position: relative;
  padding-bottom: 63.613232%;
  overflow: hidden;
}

.item-cards__img:not(:last-child) {
  margin-bottom: 1.875rem;
}

.item-cards__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.item-cards__img .item-cards__btn {
  position: absolute;
  z-index: 20;
  right: 1.875rem;
  top: 1.875rem;
  font-weight: 700;
  font-size: 0.5rem;
  line-height: 250%;
  background: rgba(33, 37, 41, 0.3);
  border-radius: 3px;
  padding: 0.1875rem 0.75rem;
  text-align: center;
  color: #F8F9FA;
}

.item-cards__date {
  font-weight: 300;
  line-height: 167%;
  color: #495057;
}

.item-cards__date:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-cards__title {
  max-width: 25rem;
  font-weight: 700;
  /* or % */
  color: #212529;
  line-height: 160%;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}

.item-cards__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-cards__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 25rem;
  font-weight: 300;
  line-height: 167%;
  /* or % */
  color: #495057;
}

.item-cards__text:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-cards__auth {
  position: relative;
  padding-top: 0.9375rem;
}

.item-cards__auth::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #e5e5e5;
  width: 100%;
  height: 0.0625rem;
}

.date {
  font-weight: 300;
  line-height: 167%;
  /* identical to box height, or */
  color: #F8F9FA;
}

.date:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.title {
  font-weight: 700;
  line-height: 160%;
  /* or  */
  max-width: 24.5625rem;
  text-align: center;
  margin: 0 auto;
  color: #F8F9FA;
}

.single-title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 156%;
  color: #212529;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 77;
  min-height: 5rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.header__container {
  padding-top: 1.25rem;
  position: relative;
  z-index: 20;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 3.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__logo img {
  position: relative;
  z-index: 100;
  max-width: 100%;
}

.menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__wrapper2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
}

.menu-open .menu .menu__body::before {
  content: "";
  background-color: rgba(229, 229, 229, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
}

.menu__item:last-child {
  padding-right: 3.125rem;
}

.menu__link {
  font-weight: 500;
  font-size: 0.75rem;
  color: rgba(248, 249, 250, 0.5);
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: inline-block;
  line-height: 2.08;
}

.menu__link::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.125rem;
  left: 50%;
  bottom: 0;
  background: #ddbea9;
  -webkit-transition: width 0.3s ease, left 0.3s;
  -o-transition: width 0.3s ease, left 0.3s;
  transition: width 0.3s ease, left 0.3s;
}

.menu__search {
  padding-left: 3.125rem;
  padding-right: re;
}

.menu__search img {
  position: relative;
  z-index: 100;
}

.menu .active {
  font-style: normal;
  /* identical to box height, or 208% */
  color: #F8F9FA;
}

.menu-open .menu__body {
  left: 0;
}

.icon-menu {
  display: none;
}

.link-white {
  color: rgba(73, 80, 87, 0.5);
}

.link-white .active {
  color: #495057;
}

.black-logo {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 139%;
  color: #495057;
}

.black-logo span {
  color: #DDBEA9;
}

.white-active {
  color: #495057;
}

.menu__link::before {
  content: "";
}

.menu .menu__wrapper2::after {
  content: "";
  background-color: #E5E5E5;
}

.black-logo {
  position: relative;
  z-index: 10;
}

.footer {
  background-color: #212529;
  margin-top: 6.25rem;
}

.footer__container {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.footer__top-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 5.6875rem;
     -moz-column-gap: 5.6875rem;
          column-gap: 5.6875rem;
  row-gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid rgba(229, 229, 229, 0.2);
  padding-bottom: 2.5rem;
}

.footer__top-block:not(:last-child) {
  margin-bottom: 2.5rem;
}

.footer__logo {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.38;
  color: #F8F9FA;
}

.footer__logo span {
  color: #DDBEA9;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5625rem;
}

.footer__link {
  font-size: 0.75rem;
  line-height: 2.08;
  color: rgba(248, 249, 250, 0.5);
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 6.25rem;
     -moz-column-gap: 6.25rem;
          column-gap: 6.25rem;
  row-gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__address {
  color: rgba(248, 249, 250, 0.5);
}

.footer__address-link {
  color: rgba(248, 249, 250, 0.5);
}

.footer__privacy {
  color: rgba(248, 249, 250, 0.5);
}

.page__main {
  margin-bottom: 7.3125rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 6.25rem;
  padding-top: 7.5rem;
}

.main__container {
  position: relative;
  z-index: 20;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main__section {
  font-weight: 300;
  font-size: 0.75rem;
  color: #e5e5e5;
  line-height: 1.66;
  max-width: 37.8125rem;
}

.main__bg {
  min-height: 100vh;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main__bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-cards__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-cards__wrapper:not(:last-child) {
  margin-bottom: 2.75rem;
}

.page-cards__label {
  font-weight: 500;
  color: #495057;
}

.page-cards__label:not(:last-child) {
  margin-bottom: 1.25rem;
}

.page-cards__label::after {
  content: "+";
  padding-left: 0.4375rem;
}

.page-cards__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.4375rem;
}

.page-cards__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 2.8125rem;
}

.tabs__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  /* identical to box height, or 208% */
  color: rgba(73, 80, 87, 0.5);
}

._tab-active {
  color: #495057;
}

.page-cards__tabs:not(:last-child) {
  margin-bottom: 3.75rem;
}

.page-cards__main-btn {
  text-align: center;
}

.page-cards:not(:last-child) {
  margin-bottom: 6.25rem;
}

.article__photo img {
  width: 100%;
}

.page__article {
  margin-bottom: 6.25rem;
}

.article {
  background-color: #212529;
  color: #F8F9FA;
}

.article__left-block {
  padding: 6.25rem 0;
}

.article__right-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__main-title {
  font-size: 1.5625rem;
}

.article__main-title:not(:last-child) {
  margin-bottom: 3.75rem;
}

.article__photo {
  position: relative;
  padding-bottom: 37.551867%;
  /* 181/482 */
  -webkit-box-flex: 0;
      -ms-flex: 0 0 37.551867%;
          flex: 0 0 37.551867%;
  border-radius: 4px;
  overflow: hidden;
}

.article__photo img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.article__date {
  display: inline-block;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.66;
  /* 20/12 */
  color: #E5E5E5;
}

.article__date:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.article__title {
  line-height: 1.56;
  /* 25/16 */
}

.article__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.article__link-title {
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  display: inline-block;
}

.article__text {
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.66;
  /* 20/12 */
  color: #E5E5E5;
}

.article__text-block {
  position: relative;
  z-index: 1;
  max-width: 25rem;
  text-align: center;
  padding: 0.9375rem;
}

.article__title-right {
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 1.6;
  /* 40/25 */
}

.article__title-right:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.article__text-right {
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.66;
  /* 20/12 */
  color: #E5E5E5;
}

.article__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.article__image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article__image::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.article__image img {
  width: 100%;
}

.page-column__title {
  font-weight: 500;
  font-size: 1.5625rem;
  line-height: 80%;
  color: #495057;
}

.page-column__title:not(:last-child) {
  margin-bottom: 3.75rem;
}

.bg-art__container {
  max-width: 85.75rem;
  padding-top: 5.625rem;
}

.bg-art__img {
  position: relative;
  z-index: 2;
}

.info {
  -webkit-transform: translateY(-4.8125rem);
      -ms-transform: translateY(-4.8125rem);
          transform: translateY(-4.8125rem);
}

.info__container {
  max-width: none;
  padding: 0;
}

.info__slide {
  min-height: 29.375rem;
}

.info-swiper-slide {
  position: relative;
}

.info-swiper-slide__body {
  background: rgba(94, 94, 94, 0.05);
  padding-top: 8.75rem;
  padding-bottom: 4.6875rem;
}

.info-swiper-slide__date {
  font-weight: 300;
  line-height: 167%;
  color: #495057;
}

.info-swiper-slide__date:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.info-swiper-slide__title {
  font-weight: 700;
  line-height: 160%;
  max-width: 31.1875rem;
  color: #212529;
}

.info-swiper-slide__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.info-swiper-slide__text {
  font-weight: 300;
  line-height: 167%;
  /* or % */
  max-width: 31.1875rem;
  color: #495057;
}

.info-swiper-slide__text:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.info-swiper-slide__auth {
  padding-top: 0.9375rem;
  position: relative;
}

.info-swiper-slide__auth::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #e5e5e5;
  width: 100%;
  height: 0.0625rem;
  margin-bottom: 0.9375rem;
}

.bg-art__img img {
  max-width: 100%;
}

.info-swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.swiper {
  position: relative;
}

.articles__title {
  font-weight: 500;
  font-size: 1.5625rem;
  line-height: 80%;
  /* identical to box height, or  */
  color: #495057;
}

.articles__title:not(:last-child) {
  margin-bottom: 2.8125rem;
}

.articles__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
}

.articles__filter:not(:last-child) {
  margin-bottom: 2.8125rem;
}

.articles__items {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.filter-articles__item {
  font-weight: 500;
  line-height: 208%;
  /* identical to box height, or  */
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #C4C4C4;
}

.active {
  color: #495057;
}

.article__item {
  width: 25rem;
}

.article__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.item-article {
  width: 25rem;
  /* 100/3 */
}

.item-article__image {
  display: block;
  margin-bottom: 1.875rem;
  border-radius: 0.3125rem;
  overflow: hidden;
}

.item-article__image img {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item-article__image img.init {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-article__body {
  display: -ms-grid;
  display: grid;
  gap: 0.9375rem;
}

.item-article__date {
  font-weight: 300;
  line-height: 167%;
  /* identical to box height, or % */
  color: #495057;
}

.item-article__title {
  max-width: 17.9375rem;
}

.item-article__link-title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 156%;
  /* or  */
  color: #212529;
}

.item-article__link-title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-article__text {
  font-weight: 300;
  line-height: 167%;
  /* or  */
  color: #495057;
}

.slide-photography {
  width: 100%;
  min-height: 37.5rem;
}

.no-webp .slide-photography:nth-child(1){
  background: url("../../img/main-bg/main-bg03.png") 0 0 no-repeat; }

.no-webp .slide-photography:nth-child(2){
  background: url("../../img/main-bg/main-bg04.jpg") 0 0 no-repeat; }

.no-webp .slide-photography:nth-child(3){
  background: url("../../img/main-bg/main-bg05.jpg") 0 0 no-repeat; }

.slide-photography__content {
  text-align: center;
  padding-top: 15rem;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
}

.swiper-photography {
  position: relative;
}

.photography-swiper__controll {
  position: absolute;
  right: 6.25rem;
  top: 50%;
}

.swiper-pagination-bullet {
  -webkit-transition: gap 0.8s ease 0s;
  -o-transition: gap 0.8s ease 0s;
  transition: gap 0.8s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px;
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 20px;
  color: #F8F9FA;
  color: #C4C4C4;
}

.swiper-pagination-bullet:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.swiper-pagination-bullet::before {
  content: "";
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 0px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  background-color: #C4C4C4;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0px;
          flex: 0 0 0px;
  height: 1px;
}

.swiper-pagination-bullet-active {
  gap: 0.5rem;
  color: #F8F9FA;
}

.swiper-pagination-bullet-active::before {
  content: "";
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 2.5rem;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  background-color: #C4C4C4;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.5rem;
          flex: 0 0 2.5rem;
  height: 1px;
}

.articles:not(:last-child) {
  margin-bottom: 6.25rem;
}

.photography:not(:last-child) {
  margin-bottom: 6.25rem;
}

.editor__title-main {
  font-weight: 500;
  font-size: 1.5625rem;
  line-height: 80%;
  /* identical to box height, or  */
  color: #495057;
}

.editor__title-main:not(:last-child) {
  margin-bottom: 3.75rem;
}

.editor__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.editor__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}

.editor__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}

.editor__img {
  overflow: hidden;
}

.editor__img img {
  max-width: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.editor__content {
  display: -ms-grid;
  display: grid;
  gap: 0.9375rem;
}

.editor__date {
  color: #495057;
}

.editor__date:not(:last-child) {
  margin-bottom: 0rem;
}

.editor .editor__title {
  max-width: 17.9375rem;
}

.bg-editor__img {
  position: relative;
  padding-bottom: 103.1456953642%;
  overflow: hidden;
}

.bg-editor__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.minimal__photography {
  padding-top: 6.25rem;
}

.swiper-pagination-fraction {
  position: absolute;
  font-weight: 300;
  line-height: 167%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9375rem;
  letter-spacing: 0.2em;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  color: red;
  bottom: 2.5rem;
  color: #E5E5E5;
  gap: 0.625rem;
}

.swiper-pagination-fraction::before {
  content: "";
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 2.5rem;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  background-color: #C4C4C4;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.5rem;
          flex: 0 0 2.5rem;
  height: 1px;
}

.portfolio__title {
  font-weight: 700;
  line-height: 160%;
  color: #212529;
  max-width: 24.5625rem;
}

.portfolio__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.portfolio__skill {
  font-weight: 500;
  line-height: 208%;
  /* identical to box height, or  */
  margin-left: 0.625rem;
  color: #495057;
}

.portfolio__skill::before {
  content: "+";
  display: inline-block;
  -webkit-transform: translateX(-0.625rem);
      -ms-transform: translateX(-0.625rem);
          transform: translateX(-0.625rem);
}

.portfolio__articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}

.portfolio__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
}

.portfolio__skills {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31.2096774194%;
          flex: 0 1 31.2096774194%;
}

.articles-portfolio {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.article-portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(290px, 1fr))[2];
  grid-template-columns: repeat(2, minmax(290px, 1fr));
  gap: 1.875rem;
}

.article-portfolio__img {
  position: relative;
  padding-bottom: 69.6551724138%;
}

.article-portfolio__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.article-portfolio__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article-portfolio__date {
  color: #6C757D;
}

.article-portfolio__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 156%;
  color: #212529;
}

.article-portfolio__text {
  position: relative;
  font-weight: 300;
  line-height: 167%;
  color: #6C757D;
}

.article-portfolio__text:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.article-portfolio__auth {
  position: relative;
  padding-top: 0.9375rem;
}

.article-portfolio__auth::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #e5e5e5;
  width: 100%;
  height: 0.0625rem;
}

.articles-portfolio__controlss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}

.articles-portfolio__item {
  font-weight: 500;
  line-height: 208%;
  /* identical to box height, or  */
  cursor: pointer;
  color: rgba(73, 80, 87, 0.5);
  position: relative;
}

.articles-portfolio__item::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.125rem;
  left: 50%;
  bottom: 0;
  background: #ddbea9;
  -webkit-transition: width 0.3s ease, left 0.3s;
  -o-transition: width 0.3s ease, left 0.3s;
  transition: width 0.3s ease, left 0.3s;
}

.blog__photography {
  padding-top: 6.25rem;
}

.label-cards {
  font-weight: 700;
  line-height: 160%;
  max-width: 24.5625rem;
  color: #212529;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 38.75em) {
  .menu .menu__wrapper2::after {
    content: "";
    display: block;
    background-color: rgba(229, 229, 229, 0.5);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0.0625rem;
            flex: 0 0 0.0625rem;
    height: 1.5625rem;
  }
}

@media (min-width: 41.25em) {
  .article__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.875rem;
  }

  .article__card:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 61.99875em) {
  .article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .article__left-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .article__right-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  .article__wrapper {
    padding-right: 11.1290322581%;
    width: 50%;
  }
}

@media (min-width: 80em) {
  .item-cards__title {
    font-size: 1.5625rem;
  }

  .title {
    font-size: 1.5625rem;
  }

  .menu-open .menu .menu__body::before {
    min-height: 6.25rem;
  }

  .page-cards__navigation {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .info-swiper-slide__body {
    padding-left: 6.625rem;
  }

  .info-swiper-slide__body {
    padding-right: 6.25rem;
  }

  .info-swiper-slide__title {
    font-size: 1.5625rem;
  }

  .portfolio__title {
    font-size: 1.5625rem;
  }

  .label-cards {
    font-size: 1.5625rem;
  }
}

@media (max-width: 64em) {
  .page-cards__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .blog-cards___wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 20em) {
  .item-cards__title {
    font-size: 1.25rem;
  }

  .title {
    font-size: 1.3125rem;
  }

  .menu-open .menu .menu__body::before {
    min-height: 5rem;
  }

  .page-cards__navigation {
    -webkit-column-gap: 0.4375rem;
       -moz-column-gap: 0.4375rem;
            column-gap: 0.4375rem;
  }

  .info-swiper-slide__body {
    padding-left: 1.875rem;
  }

  .info-swiper-slide__body {
    padding-right: 1.875rem;
  }

  .info-swiper-slide__title {
    font-size: 1.25rem;
  }

  .portfolio__title {
    font-size: 1.1875rem;
  }

  .label-cards {
    font-size: 1.1875rem;
  }
}

@media (max-width: 61.99875em) {
  .article__text-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 37.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .page__article {
    margin-bottom: 4.6875rem;
  }

  .article__photo {
    padding-bottom: 25%;
  }

  .article__left-block {
    padding: 4.6875rem 0;
  }

  .article__main-title:not(:last-child) {
    margin-bottom: 2.8125rem;
  }

  .editor__wrapper {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .editor__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 59.375em) {
  .photography-swiper__controll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.5625rem;
    top: 87%;
    right: 50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
  }

  .swiper-pagination-bullet-active:last-child::before {
    content: "";
    background-color: transparent;
    width: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    background-color: #C4C4C4;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0px;
            flex: 0 0 0px;
    height: 0px;
  }

  .portfolio__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 51.25em) {
  .editor__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .editor__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }
}

@media (max-width: 40.625em) {
  .article-portfolio {
    -ms-grid-columns: (minmax(290px, 1fr))[1];
    grid-template-columns: repeat(1, minmax(290px, 1fr));
  }
}

@media (max-width: 39.375em) {
  .page-cards__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 38.75em) {
  .header__logo img {
    min-width: 100px;
  }

  .menu__body {
    padding-top: 10.625rem !important;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #212529;
    padding: 70px 15px 20px 15px;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
  }

  .menu__link {
    font-size: 1.875rem;
  }

  .menu__search img {
    min-width: 25px;
  }

  .menu .active {
    font-size: 1.875rem;
  }

  .menu__search {
    padding-left: 1.7rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .white-active {
    color: #F8F9FA;
  }

  .black-logo {
    font-size: 1.5625rem;
  }
}

@media (max-width: 38.75em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 30.5625em) {
  .footer__top-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .article__photo {
    padding-bottom: 70%;
  }

  .article__photo:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .article__card:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .article__left-block {
    padding: 3.125rem 0;
  }

  .article__main-title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .page__article {
    margin-bottom: 3.125rem;
  }

  .article__date:not(:last-child) {
    margin-bottom: 0.3125rem;
  }

  .article__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .article__main-title {
    font-size: 1.375rem;
  }

  .article__text-block {
    min-height: 31.25rem;
  }

  .article__title-right {
    font-size: 1.375rem;
  }
}

@media (max-width: 29.99875em) {
  .editor__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .editor__img {
    margin: 0 auto;
  }

  .editor .editor__title {
    max-width: none;
  }

  .editor__text {
    max-width: none;
  }
}

@media (max-width: 26.875em) {
  .item-article {
    width: 100%;
  }
}

@media (min-width: 20em) and (max-width: 80em) {
@supports (font-size: clamp( 1.25rem , 1.1458333333rem  +  0.5208333333vw , 1.5625rem )) {
    .item-cards__title {
      font-size: clamp( 1.25rem , 1.1458333333rem  +  0.5208333333vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1458333333rem  +  0.5208333333vw , 1.5625rem )) {
    .item-cards__title {
      font-size: calc(1.25rem + 0.3125 * (100vw - 20rem) / 60);
    }
}

@supports (font-size: clamp( 1.3125rem , 1.2291666667rem  +  0.4166666667vw , 1.5625rem )) {
    .title {
      font-size: clamp( 1.3125rem , 1.2291666667rem  +  0.4166666667vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.3125rem , 1.2291666667rem  +  0.4166666667vw , 1.5625rem )) {
    .title {
      font-size: calc(1.3125rem + 0.25 * (100vw - 20rem) / 60);
    }
}

@supports (min-height: clamp( 5rem , 4.5833333333rem  +  2.0833333333vw , 6.25rem )) {
    .menu-open .menu .menu__body::before {
      min-height: clamp( 5rem , 4.5833333333rem  +  2.0833333333vw , 6.25rem );
    }
}

@supports not (min-height: clamp( 5rem , 4.5833333333rem  +  2.0833333333vw , 6.25rem )) {
    .menu-open .menu .menu__body::before {
      min-height: calc(5rem + 1.25 * (100vw - 20rem) / 60);
    }
}

@supports ((-moz-column-gap: clamp( 0.4375rem , 0.1666666667rem  +  1.3541666667vw , 1.25rem )) or (column-gap: clamp( 0.4375rem , 0.1666666667rem  +  1.3541666667vw , 1.25rem ))) {
    .page-cards__navigation {
      -webkit-column-gap: clamp( 0.4375rem , 0.1666666667rem  +  1.3541666667vw , 1.25rem );
         -moz-column-gap: clamp( 0.4375rem , 0.1666666667rem  +  1.3541666667vw , 1.25rem );
              column-gap: clamp( 0.4375rem , 0.1666666667rem  +  1.3541666667vw , 1.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.4375rem , 0.1666666667rem  +  1.3541666667vw , 1.25rem )) or (column-gap: clamp( 0.4375rem , 0.1666666667rem  +  1.3541666667vw , 1.25rem ))) {
    .page-cards__navigation {
      -webkit-column-gap: calc(0.4375rem + 0.8125 * (100vw - 20rem) / 60);
         -moz-column-gap: calc(0.4375rem + 0.8125 * (100vw - 20rem) / 60);
              column-gap: calc(0.4375rem + 0.8125 * (100vw - 20rem) / 60);
    }
}

@supports (padding-left: clamp( 1.875rem , 0.2916666667rem  +  7.9166666667vw , 6.625rem )) {
    .info-swiper-slide__body {
      padding-left: clamp( 1.875rem , 0.2916666667rem  +  7.9166666667vw , 6.625rem );
    }
}

@supports not (padding-left: clamp( 1.875rem , 0.2916666667rem  +  7.9166666667vw , 6.625rem )) {
    .info-swiper-slide__body {
      padding-left: calc(1.875rem + 4.75 * (100vw - 20rem) / 60);
    }
}

@supports (padding-right: clamp( 1.875rem , 0.4166666667rem  +  7.2916666667vw , 6.25rem )) {
    .info-swiper-slide__body {
      padding-right: clamp( 1.875rem , 0.4166666667rem  +  7.2916666667vw , 6.25rem );
    }
}

@supports not (padding-right: clamp( 1.875rem , 0.4166666667rem  +  7.2916666667vw , 6.25rem )) {
    .info-swiper-slide__body {
      padding-right: calc(1.875rem + 4.375 * (100vw - 20rem) / 60);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1458333333rem  +  0.5208333333vw , 1.5625rem )) {
    .info-swiper-slide__title {
      font-size: clamp( 1.25rem , 1.1458333333rem  +  0.5208333333vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1458333333rem  +  0.5208333333vw , 1.5625rem )) {
    .info-swiper-slide__title {
      font-size: calc(1.25rem + 0.3125 * (100vw - 20rem) / 60);
    }
}

@supports (font-size: clamp( 1.1875rem , 1.0625rem  +  0.625vw , 1.5625rem )) {
    .portfolio__title {
      font-size: clamp( 1.1875rem , 1.0625rem  +  0.625vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.1875rem , 1.0625rem  +  0.625vw , 1.5625rem )) {
    .portfolio__title {
      font-size: calc(1.1875rem + 0.375 * (100vw - 20rem) / 60);
    }
}

@supports (font-size: clamp( 1.1875rem , 1.0625rem  +  0.625vw , 1.5625rem )) {
    .label-cards {
      font-size: clamp( 1.1875rem , 1.0625rem  +  0.625vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.1875rem , 1.0625rem  +  0.625vw , 1.5625rem )) {
    .label-cards {
      font-size: calc(1.1875rem + 0.375 * (100vw - 20rem) / 60);
    }
}
}

@media (min-width: 30.625em) and (max-width: 41.25em) {
  .article__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.25rem;
  }

  .article__card:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #323a41;
  }

  .item-cards__img:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .item-cards__title:hover {
    color: #CCD5AE;
  }

  .menu__link:hover {
    color: #F8F9FA;
  }

  .menu__item:hover .menu__link::before {
    left: 0;
    width: 100%;
  }

  .link-white:hover {
    color: #495057;
  }

  .footer__link:hover {
    color: #fff;
  }

  .article__photo:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .filter-articles__item:hover {
    color: #495057;
  }

  .item-article__image:hover img {
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04);
  }

  .item-article__link-title:hover {
    text-decoration: underline;
  }

  .editor__img:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .bg-editor__img:hover img {
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04);
  }

  .articles-portfolio__item:hover::before {
    content: "";
    width: 100%;
    left: 0;
  }
}

.webp .slide-photography:nth-child(1){ background: url(../../img/main-bg/main-bg03.webp) 0 0 no-repeat; }

.webp .slide-photography:nth-child(2){ background: url(../../img/main-bg/main-bg04.webp) 0 0 no-repeat; }

.webp .slide-photography:nth-child(3){ background: url(../../img/main-bg/main-bg05.webp) 0 0 no-repeat; }